<a href="https://colab.research.google.com/github/Limhyun10/2022spring/blob/main/1.%20variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1; print(type(a)) #int는 정수

<class 'int'>

In [ ]:
b = 1

In [ ]:
print(type(b))

<class 'int'>

In [ ]:
print(a + b)

In [ ]:
a = 1.1; print(type(a)) #float는 실수

<class 'float'>

In [ ]:
a = '123'; print(type(a)); print(a[1]) #하나의 문자가 아닌 여럿은 string

<class 'str'>
2

In [ ]:
a = 'hello'; print(type(a)); print(a[1]) #string에서 첫번째 문자를 프린트해라

<class 'str'>
e

In [ ]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0]) #list에서 0번째 문자를 프린트 해라
                                              #list는 문자의 나열

<class 'list'>
1

In [ ]:
a[0]

1

a의 0번째를 가져와라는 명령

In [ ]:
a[3]

4

a의 3번째를 가지고 와라

In [ ]:
a[:]

[1, 2, 3, 4]

모든 수를 다 가져와라

In [ ]:
a[1:3]

[2, 3]

a의 첫번째부터 세번째 전의 것까지 가져와라

In [ ]:
a[0:-2]

[1, 2]

0: 으로 두면 처음부터 끝까지 0:-1 하면 끝에꺼만 제외

In [ ]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

<class 'list'>
1
a
[3, '4']
4

In [ ]:
print(a[2][0:]) #list 2번째의 0번째부터 끝까지 프린트

[3, '4']

In [ ]:
a[2][0] #list 2번째의 0번째만 프린트

3

리스트의 2번째 변수인 리스트 안에서 0번째의 것을 가져와라

In [ ]:
a='abcdef123'

In [ ]:
type(a) #list는 콤마로 끊어져서 각각, string은 연결되어 있음

str

In [ ]:
a[:3] #0번째부터 3-1번째까지 가져와라

'abc'

In [ ]:
a[3:-1] #3번째부터 뒤에서 첫번째꺼까지 가져와라

'def12'

In [ ]:
a = [1, 2, 3, 4, 5] #이거는 list, tuple과 다름, 따라서 다른 코드로 간섭가능함

In [ ]:
a[1] = 0

In [ ]:
print (a)

[1, 0, 3, 4, 5]

55번 스레드를 보면 a의 1번째를 0으로 바꾸라는 명령 56에서 프린트하면 1번째가 0으로 바뀌어 나옴. 대괄호 즉, 리스트일 경우에는 그러함

In [ ]:
a = (1, 2, 3, 4, 5)

In [ ]:
a[2] = 0

tuple의 경우 즉, 대괄호냐 소괄호냐 차이로 리스트 내부를 바꾸는 것을 금지함

In [ ]:
print (a[1]+a[3])

6

In [ ]:
a = (1, 2, 3, 4, 'a'); print(a[1]+a[4]) #string과 int 혼재로 덧셈 불가능

내용을 뽑아와서 더하거나 빼고 맘대로 다되는데 바꾸는 것은 불가능

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

In [ ]:
a["a"]

'apple'

In [ ]:
print(type(a)),print(type(a["b"]))

<class 'dict'>
<class 'str'>

(None, None)

dict는 dictionary의 줄임말
dict는 다른 것과 달리 페어로 이루어짐
여기서 "a"는 Key "apple"은 value
string 이라서 큰 따옴표 작은 따옴표 상관 없음