<a href="https://colab.research.google.com/github/Limhyun10/2022spring/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pandas = 엑셀이라고 생각하면 됨. 행렬임 python data analysis

In [1]:
import pandas as pd # pandas를 불러오기 import될 수 있는 것은 기본적으로 install 되어있다고 가정함

In [ ]:
# df = pd.read_csv() csv는 기본적으로 엑셀파일임

In [ ]:
df = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
df #dataframe 이다. 쉼표로 만들어진 행렬의 값들을 보기 좋게 만들어줄 수 있는 기능

In [4]:
print(df.size); print(df.ndim); print(df.shape)
# 17000*9, ndim은 몇 차원이냐?-> 행과열 2차원, shape는 어떤 모습이냐? (17000rows, 9columns)

153000
2
(17000, 9)

In [ ]:
df.describe() #기본적인 통계적인 정보를 뽑아줌, 지금 이건 데이터 파일이라기보다 메모리 데이터, 날 것 그 자체임
              #그래서 나중에 또 다운받고싶으면 파일로 바꿔줘야함

In [9]:
df.to_csv('california_housing_train.csv')
    #이렇게 바꿔주면 파일의 형태로 저장이 가능하게됨
    #처음에 df=pd.read 어쩌고에서 파일을 데이터의 형태로 바꿔왔잖아 그거 역이라고 보면 됨

In [ ]:
#Dict를 사용해 데이터 프레임 만들기
data = {'sepal_length': [6.9, 6.9, 4.8, 5.4, 4.6],
        'sepal_width': [3.2, 3.1, 3.4, 3.0, 3.6],
        'petal_length': [5.7, 5.1, 1.9, 4.5, 1.0],
        'petal_width': [2.3, 2.3, 0.2, 1.5, 0.2],
        'species': ['virginica', 'virginica', 'setosa', 'versicolor', 'setosa']}
# 중괄호로 딕트를 만들어주고 키값:Value값 입력을 한다. 이 때 Value의 값에 item수는 일정해야함
df = pd.DataFrame(data) # pd.DataFrame() 입력한 딕트를 데이터프레임으로 만들어주는 함수
df

In [12]:
#pd.Series를 사용해 데이터 프레임 만들기
sepal_length = pd.Series([6.9, 6.9, 4.8, 5.4, 4.6])
sepal_width = pd.Series([3.2, 3.1, 3.4, 3.0, 3.6])
petal_length = pd.Series([5.7, 5.1, 1.9, 4.5, 1.0])
petal_width = pd.Series([2.3, 2.3, 0.2, 1.5, 0.2])
species = pd.Series(['virginica', 'virginica', 'setosa', 'versicolor', 'setosa'])

df = pd.DataFrame({'sepal_length': sepal_length, 'sepal_width': sepal_width, 'petal_length': petal_length, 'petal_width': petal_width, 'SPECIES': species})
df

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

In [11]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [13]:
#대문자로 된 SPECIES만 소문자로 바꿔보기
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

In [14]:
#column 하나 불러오기
df.loc[:, 'sepal_length'] #[row, column] 이다. 모든 row를 sepal_length column에서 가져오라
#더 간단히 할 때 df.loc['sepal_length'] 더 간단히 df.sepal_length

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [15]:
#두 개도 세 개도 불러올 수 있음
df.loc[:, ['sepal_length', 'sepal_width']] #긴버전 
#df[['sepal_length', 'sepal_width']] 짧은버전

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

In [ ]:
#row를 불러오는 것도 column을 불러오는 것과 똑같다. 다만 [ , ] 에서 값만 바꿔줄 뿐

In [16]:
#하나의 cell에 접근하는 것도 가능하다
df.loc[:, 'sepal_length'][4] #앞의 거에서 4번째꺼 가져오세요

4.6

In [ ]:
#row나 column을 통으로 지우거나 더할 때
#axis = 1 은 column을 말하고
#axis = 0 은 row를 의미한다.