<a href="https://colab.research.google.com/github/Limhyun10/limhyun/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

a에 있는것을 i 에 하나씩 넣어서 돌린다. 즉 4번 돌아가게 됨

In [22]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

len(a)는 4이므로 range(4)는 list [0, 1, 2, 3] 이 만들어지는 것

In [11]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

0
0
0
0

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

In [31]:
a = 3
if a == 0:
    print(a)
else:
    print(a+1)

4

== 는 같다는 표시  =는 assign하는 표시
a = 0
if a != 0:
    print(a)
else:
    print(a+1)
    ! 는 같지 않다면 이라는 표시
    
a = 3
if a == 0:
    print(a)
else:
    print(a+1)
이러면 답 4

In [36]:
for i in range(1, 3):
   for  j in range(3, 5):
        print(i*j)

3
4
6
8

range(5)는 [0, 1, 2, 3, 4] 따라서 range(1, 3)은 [1,2] range(3,5)는 [3, 4].
따라서 Print (i*j)는 1*3, 1*4, 2*3
2*4

for 를 중첩해서 사용 가능

In [37]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

j가 4보다 같거나 클 때만 출력하라

In [38]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

list comprehension

In [39]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

len(red) = 3 이고 나머지는 다 4보다 같거나 크기 때문에 red제외한 결과값이 출력

In [41]:
a = ['red', 'green', 'blue', 'purple']
b = [1, 2, 3, 4]
c = {a[i]:b[i] for i in range(4)}
c

{'blue': 3, 'green': 2, 'purple': 4, 'red': 1}

**dict comprehension**
range(4) = [0, 1, 2, 3]
a(0), b(0) = red, 1
a(1), b(1) = green, 2
... 같은 방식으로 감